<% content_for :body_class, 'class1' %>

<button class="button" type="button" name="button" id="Login"><%= link_to 'Sign Up', '#', :'data-toggle'=> "modal", :'data-target'=>"#myModal123" %></button>
<button class="button" type="button" name="button" id="Login"><%= link_to 'Login', '#', :'data-toggle'=> "modal", :'data-target'=>"#loginModal" %></button>

<%= render partial: 'sessions/login' %>
<%= render partial: "users/new" %>
