.top-navigation {
  border-radius: 0;
}

.welcome-table {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.weather {
  background-color: none !important;
}

.navbar-right {
  color: white !important;
}

.button {
  background-color: #053d5a; /* Green */
  border-radius: 8px;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  float: right;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19) !important;
}

.class1 {
  // background-color: lightblue;
  background-image: none;
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
}
